*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;

height:100vh;

background:#0F172A;

}

.container{

text-align:center;

}

h1{

color:white;

margin-bottom:20px;

}

.ground{

width:500px;
height:500px;

background:#2E8B57;

border-radius:50%;

position:relative;

overflow:hidden;

border:8px solid white;

margin-bottom:25px;

}

.pitch{

position:absolute;

width:70px;
height:220px;

background:#D2B48C;

left:50%;
top:50%;

transform:translate(-50%,-50%);

border-radius:8px;

}

#ball{

position:absolute;

left:50%;
bottom:120px;

transform:translateX(-50%);

font-size:28px;

transition:all 1s ease;

}

button{

padding:15px 35px;

border:none;

border-radius:12px;

background:#06B6D4;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#0891B2;

}

h2{

margin-top:20px;

color:#FACC15;

}